@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<form id="DepartmentForm" method="POST">

    <div class="login-form">

        <h3 class="text-center">Save Department</h3>
        <div class="row form-group">
            <div class="col-md-4 text-right">
                <label for="Code"> Code </label>

            </div>

            <div class="col-md-8">
                <input type="text" id="Code" name="Code"  class="form-control"/>

            </div>
            <br/>
            <br/>

        </div>

        <div class="row form-group">

            <div class="col-md-4 text-right">
                <label for="Name"> Name </label>

            </div>

            <div class="col-md-8">
                <input type="text" id="Name" name="Name" class="form-control"/>

            </div>
            <br/><br/>

        </div>


        <div class="row">
            <div class="col-md-12 text-right">
                <input type="submit" value="Save" class="btn btn-info"/>

            </div>

        </div>
    </div>

</form>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $("#DepartmentForm").validate({
        rules: {
            Name: "required",
            Code: {
                required: true,
                maxlength: 7,
                minlength:2
            }
        },
        messages: {
            Name: "Please enter department name",
            Code: {
                required: "Please enter department code",
                //maxlength: "Maxlength 7",
                //minlength: "Minlength 2"
            }
        }
    });
</script>


