@model List<UniversityManagement.Models.Department>
@{
    ViewBag.Title = "ViewAllDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-form">
    <h3 class="text-center">ViewAllDepartment</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">Code</th>
            <th class="text-center">Name</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var data in Model)
            {
                <tr class="text-center">
                    <td>@data.Code</td>
                    <td>@data.Name</td>

                </tr>
            }
        }
        </tbody>
    </table>

</div>
